# setting

myproject/settings.py

# database

mydatabase

# logs

*.log

# migrations

landing/migrations
landing/migrations/*

# pycache

*/__pycache__
*/__pycache__/*


# manage.py

manage.py


*.pyc
*.pyo
*.mo
*~

**/migrations/**
!**/migrations
!**/migrations/__init__.py

uwsgi.ini
