/* FONTS */

@font-face {
    font-family: 'vollkorn';
    src: url('../fonts/vollkorn-v7-latin_cyrillic-ext-regular.woff2') format('woff2'),
         url('../fonts/vollkorn-v7-latin_cyrillic-ext-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cormorant';
    src: url('../fonts/cormorant-v5-cyrillic-ext_cyrillic_latin_latin-ext-regular.woff2') format('woff2'),
         url('../fonts/cormorant-v5-cyrillic-ext_cyrillic_latin_latin-ext-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'merriweather';
    src: url('../fonts/merriweather-v17-cyrillic-ext_cyrillic_latin_latin-ext-regular.woff2') format('woff2'),
         url('../fonts/merriweather-v17-cyrillic-ext_cyrillic_latin_latin-ext-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


ul {
    font-family: vollkorn;
}

.text {
    font-family: vollkorn;
    font-weight: 400;
    font-size: 130%;
}

.heading {
    font-family: merriweather;
}

.menu_button {
    font-family: vollkorn;
}

.publish_date {
    float: right;
    font-family: cormorant;
    font-style: italic;
    font-size: 130%;
}

.author {
    font-family: vollkorn;
    font-weight: bold;
    font-size: 130%;
}

.btn-primary {
    font-family: cormorant;
    float: left;

}

.preview_content {
    font-size: 130%;
}

/* BODY */

body {
    margin: 0;
    padding-top: 200px;
}

.caption {
    z-index: 1000;
}

/* NAV BAR */

.menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1001;
}

.menu_button {
  display: none;
  font-size: 40px;
  width: 100%;
  height: 50px;
  border: 0;
  margin: 0;
  padding: 0;
  outline: none;
  background-color: #eaedf2;
  border-bottom: 1px solid #c9ced8;
}

.menu_content {
  overflow: hidden;
  transition: max-height .4s linear;
}

.menu_list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
  overflow: hidden;
}

.menu_item {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  width: 25%;
  height: 200px;
  background-color: #fff;
  border: 0 solid #c9ced8;
  border-width: 0 1px 1px 0;
  transition: height .4s ease, background-color .2s;
  white-space: nowrap;
  font-size: 0;
}

.menu_item:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  line-height: 100%;
}

.menu_item:last-child { border-right: 0; }

.menu_item-name {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  font-size: 40px;
  text-align: center;
}

.menu_link {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.menu.shrink .menu_item {
  height: 100px;
  opacity: 0.8;
}

/* HORIZONTAL MENU WHEN WIDTH <500px */

@media only screen and (max-width: 500px) {
  .menu_button { display: block; }
  .menu_content { max-height: 0; }
  .menu_content.show { max-height: 100vh; }


  .menu_item {
    height: 50px !important;
    width: 100%;
  }

  body {
    margin: 0;
    padding-top: 40px;
  }
}

/* FONT AND BUTTON-BOX GETS SMALLER WHEN SCREEN <825px */

@media only screen and (max-width: 825px) and (min-width: 501px) {
    .menu_item-name { font-size: 25px }
    .menu_item { height: 150px }

    body {
    margin: 0;
    padding-top: 150px;
  }
}

/* HIGHLIGHT HEADING */

h1 a:hover {
    background-color: #d1e2fc;
}

/* NAVGIATION BUTTONS */

#main_button {
    border-right: 1px solid #c9ced8;
    transition-duration: 1s;
}

#main_button:hover {
    background-color: rgb(249, 204, 189);
}

#blog_button {
    border-right: 1px solid #c9ced8;
    transition-duration: 1s;
}

#blog_button:hover {
    background-color: rgb(187, 165, 239);
}

#contact_button {
    border-right: 1px solid #c9ced8;
    transition-duration: 1s;
}
#contact_button:hover {
    background-color: rgb(144, 197, 219);
}

#about_button {
    transition-duration: 1s;
}

#about_button:hover {
    background-color: rgb(183, 216, 147);
}

/* BACK TO TOP BUTTON */

.back-to-top {
    display: none;
    position: fixed;
    bottom: 10%;
    right: 5%;
    background-color: #0070ad;
    padding:20px;
    color: white;
    text-decoration: none;
    font-family: cormorant;
    border-radius: 7px;
    transition-duration: 0.5s;
}

.back-to-top:hover {
    text-decoration: none;
    background: #025f91;
    color: white;
}

/* POST DETAIL BORDER*/

#detail_view {
    border: 1px solid #c9ced8;
    padding-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}

/* POP-UP MESSAGES */

#mess {
    width: 61%;
    text-align: center;
    margin: 0 auto 0;
}

/* FACEBOOK FULL WIDTH */

.fb-comments, .fb-comments span, .fb-comments iframe {
    width: 100% !important;
}

/* FB BUTTON POSITIONING */

.button_view {
    float: left;
    margin: 0 20px 0 0;
    padding-bottom: 5px;
}

/* TAGS ON BLOG PAGE */

.post-tags {
    margin:0;
    padding: 0;
    list-style: none outside;
    float: right;
    max-width: 85%;
}

.post-tags li {
    float:left;
    background-color:#0070ad;
    margin-right: 10px;
    margin-bottom: 2px;
    padding: 5px 10px;
    font-size: 12px;
    font-family: Merriweather;
    border-radius: 5px;
    height: 28px;
}

.post-tags li a {
    color:#fff;
    display: block;
    height: 100%;
}

#tags-detail {
    float: left;
}

.post-tags li:hover {
  background-color: #025f91;
}

.post-tags li a:hover {
    text-decoration: none;
}

br {
   clear: both;
}

/* TAGS ON TAG PAGE */

.tags {
    background-color:#0070ad;
    padding: 5px 6px;
    margin-right: 5px;
    font-size: 12px;
    line-height: 2.3;
    font-family: Merriweather;
    border-radius: 5px;
    color: white;
}

/* HOME, CONTACT AND ABOUT PAGE */

.home-hr {
    height: 1px;
    color: #c0c8d6;
    background-color: #c0c8d6;
}

#home_text {
    font-size: 25px;
}

.home_pages:hover {
    background-color: #d1e2fc;
}

#home_heading {
    font-size: 40px;
}

#home_sub_heading {
    font-size: 30px;
}

ul.icons-list {
    margin: 0;
    padding: 0;
}

ul.icons-list li {
    display: inline-block;
}

ul.icons-list li .text {
    padding: 5px;
}

.mail-icon {
    padding-top: 15px;
}

#about_text {
    font-size: 25px;
}

#heading_tag_page {
    font-size: 40px;
}

#heading_tag_page:hover {
    background-color: #d1e2fc;
}
