/* FONTS */

@font-face {
    font-family: 'vollkorn';
    src: url('vollkorn-webfont.woff2') format('woff2'),
         url('vollkorn-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cormorantbold';
    src: url('cormorant-bold-webfont.woff2') format('woff2'),
         url('cormorant-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'merriweatherregular';
    src: url('merriweather-regular-webfont.woff2') format('woff2'),
         url('merriweather-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

ul {
    font-family: vollkorn;
}

.text {
    font-family: vollkorn;
    font-weight: 400;
    font-size: 130%;
}

.heading {
    font-family: Merriweather;
}

.menu_button {
    font-family: vollkorn;
}

.publish_date {
    float: right;
    font-family: cormorant;
    font-style: italic;
    font-size: 130%;
}

.author {
    font-family: vollkorn;
    font-weight: bold;
    font-size: 130%;
}

.btn-primary {
    font-family: cormorant;
}

.preview_content {
    font-size: 130%;
}

/* BODY */

body {
    margin: 0;
    padding-top: 200px;
}

.caption {
    z-index: 1000;
}

/* NAV BAR */

.menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1001;
}

.menu_button {
  display: none;
  font-size: 40px;
  width: 100%;
  height: 50px;
  border: 0;
  margin: 0;
  padding: 0;
  outline: none;
  background-color: #eaedf2;
  border-bottom: 1px solid #c9ced8;
}

.menu_content {
  overflow: hidden;
  transition: max-height .4s linear;
}

.menu_list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
  overflow: hidden;
}

.menu_item {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  width: 25%;
  height: 200px;
  background-color: #fff;
  border: 0 solid #c9ced8;
  border-width: 0 1px 1px 0;
  transition: height .4s ease, background-color .2s;
  white-space: nowrap;
  font-size: 0;
}

.menu_item:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  line-height: 100%;
}

.menu_item:last-child { border-right: 0; }

.menu_item-name {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  font-size: 40px;
  text-align: center;
}

.menu_link {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.menu.shrink .menu_item {
  height: 100px;
  opacity: 0.8;
}



@media only screen and (max-width: 500px) {
  .menu_button { display: block; }
  .menu_content { max-height: 0; }
  .menu_content.show { max-height: 100vh; }

  .menu_item {
    height: 50px !important;
    width: 100%;
  }

  body {
    margin: 0;
    padding-top: 40px;
  }

}

/* HIGHLIGHT HEADING */

h1 a:hover {
    background-color: #d1e2fc;
}

/* NAVGIATION BUTTONS */

#main_button {
    border-right: 1px solid #c9ced8;
    transition-duration: 1s;
}

#main_button:hover {
    background-color: rgb(249, 204, 189);
}

#blog_button {
    border-right: 1px solid #c9ced8;
    transition-duration: 1s;
}

#blog_button:hover {
    background-color: rgb(187, 165, 239);
}

#contact_button {
    border-right: 1px solid #c9ced8;
    transition-duration: 1s;
}
#contact_button:hover {
    background-color: rgb(144, 197, 219);
}

#about_button {
    transition-duration: 1s;
}

#about_button:hover {
    background-color: rgb(183, 216, 147);
}

/* BACK TO TOP BUTTON */

.back-to-top {
    display: none;
    position: fixed;
    bottom: 10%;
    right: 5%;
    background-color: #0070ad;
    padding:20px;
    color: white;
    text-decoration: none;
    font-family: cormorant;
    border-radius: 7px;
    transition-duration: 0.5s;
}

.back-to-top:hover {
    text-decoration: none;
    background: #025f91;
    color: white;
}

/* POST DETAIL BORDER*/

#detail_view {
    border: 1px solid #c9ced8;
    padding-top: 13px;
    margin-bottom: 5px;
    border-radius: 5px;
}

/* POP-UP MESSAGES */

#mess {
    width: 61%;
    text-align: center;
    margin: 0 auto 0;
}

/* FACEBOOK FULL WIDTH */

.fb-comments, .fb-comments span, .fb-comments iframe {
    width: 100% !important;
}


.caption {
    z-index: 1000;
}
