{% block content %}

<div class='col-sm-8 col-sm-offset-2' id="detail_view">
<br>
<p class="text" id="about_text">Работаю Старшим оператором технической поддержки в компании Интернет-провайдера Киева. Взаимодействую с сетевым оборудованием Cisco, ZTE, Huawei и т.п. на l2 и l3 уровнях.</p>
<p class="text" id="about_text">Помимо основной работы занимаюсь ручным и автоматизированным тестированием ПО на площадках utest.com и bugfinders.com. В свободное время разрабатываю авто-тесты для своего сайта.</p>
<hr class="home-hr">
<p class="text" id="about_text">Этот сайт был разработан мною с целью углубления своих знаний в программировании. При этом он является некоторой визиткой-портфолио, а так же полигоном для тестирования.</p>
<p class="text" id="about_text">Был выбран фреймворк Django, с небольшим применением jQuery и JavaScript, подключена БД SQLite.</p>
<p class="text" id="about_text">Данный сайт я развернул на своем vps-сервере с Ubuntu 14.04, используя Nginx + uWSGI, администрируется это все через коммандную строку ssh, когда работаю из-под Unix или putty, при работе в Windows.</p>
<hr class="home-hr">
<p class="text" id="about_text">Сайт находится в процессе постоянного усовершенствования и доработки.</p>
</div>

{% endblock content %}
