{% load staticfiles %}

<!--DOCTYPE html -->
<html>
<head>


<link rel="shortcut icon" type="image/png" sizes="16x16" href='{% static "img/favicon/favicon-16x16.png" %}'/>
<link rel="shortcut icon" type="image/png" sizes="32x32" href='{% static "img/favicon/favicon-32x32.png" %}'/>
<link rel="apple-touch-icon" sizes="180x180" href='{% static "img/favicon/apple-touch-icon.png" %}'/>

<link rel="manifest" href='{% static "img/favicon/manifest.json" %}'/>

<link rel="mask-icon" href='{% static "img/favicon/safari-pinned-tab.svg" color="#5bbad5" %}'/>
<meta name="theme-color" content="#ffffff"><title>{% block head_title %}Blyzniuk Yevhen{% endblock head_title %}</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous"> -->


<link rel='stylesheet' href='{% static "css/base.css" %}' />
<style>
{% block style %}{% endblock style %}
</style>
</head>
<body>
<div class="page">
  <nav class="menu">
    <button class="menu_button" type="button">MENU</button>
    <div class="menu_content">
      <ul class="menu_list">
        <button class="menu_item" id="main_button"><span class="menu_item-name">HOME</span><a class="menu_link" data-url="{% url 'posts:home' %}"></a></button>
        <button class="menu_item" id="blog_button"><span class="menu_item-name">BLOG</span><a class="menu_link" href="{% url 'posts:list' %}" data-url="{% url 'posts:list' %}"></a></button>
        <button class="menu_item" id="contact_button"><span class="menu_item-name">CONTACT</span><a class="menu_link" data-url="{% url 'posts:contact' %}"></a></button>
        <button class="menu_item" id="about_button"><span class="menu_item-name">ABOUT</span><a class="menu_link" data-url="{% url 'posts:about' %}"></a></button>
      </ul>
    </div>
  </nav>
</div>
<br/>

<div id="fb-root">
<script>(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.10";
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
</div>


{% include "messages_display.html" %}
<div class='container'>
{% block content %}{% endblock content %}
</div>
<a href="" class="back-to-top">Back to top</a>
<!-- jQuery first, then Tether, then Bootstrap JS. -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<script src="{% static 'js/global.js' %}"></script>
<script src="{% static 'js/cke.js' %}"></script>
<script>
        $(document).ready(function(){
          $(".menu_link").click(function(){
            $.ajax({url: $(this).data('url'), success: function(result){
              $(".container").html(result);
            $(".container").fadeOut(0).fadeIn(1000);
              console.log(result);
                          }});
          });
      })
    </script> 
</body>
</html>
