{% extends "base.html" %}
{% load urlify %}
{% load get_at_index %}

{% block head_title %}
{{ instance.title }} | {{ block.super }}

{% endblock head_title %}



{% block content %}
<div class='col-sm-8 col-sm-offset-2' id="detail_view">

    {% if instance.image %}
    <center><img src='{{ instance.image.url }}' class='img-responsive' /></center>
    {% endif %}
<h1><div class="heading">{{ title }} </div></h1><small>{% if instance.draft %} <span style='color:red;'> Draft</span> {% endif %}<div class="publish_date">{{ instance.publish }}</div></small></h>
{% if instance.user.get_full_name %}
 <div class="author"><p>Author: {{ instance.user.get_full_name }}</p></div>
{% endif %}
<br>
<p><div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div></p>
<hr/>

 <div class="row">
 <div class="col-sm-12">
 <div class="text">

{{ instance.content|safe }}<br>
{% if tags %}
<ul class="post-tags" id="tags-detail">
    {% for tag in tags %}
        <li><a href="/tag/{{ slug_tags|get_at_index:forloop.counter0 }}">{{ tag }}</a></li>
    {% endfor %}
</ul>
{% endif %}


<br/>
<hr/>
<div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-numposts="5"></div>
</div>
</div>
</div>
</div>


{% endblock content %}
<!--"/tag/{{ tag }}"   "{% url 'posts:search' %}"-->
