{% extends "base.html" %}
{% load urlify %}


{% block head_title %}
{{ instance.title }} | {{ block.super }}

{% endblock head_title %}



{% block content %}

<div class='col-sm-8 col-sm-offset-2' id="detail_view">
    {% if instance.image %}
    <center><img src='{{ instance.image.url }}' class='img-responsive' /></center>
    {% endif %}
<h1><div class="heading">{{ title }} </div></h1><small>{% if instance.draft %} <span style='color:red;'> Draft</span> {% endif %}<div class="publish_date">{{ instance.publish }}</div></small></h>
{% if instance.user.get_full_name %}
 <div class="author"><p>Author: {{ instance.user.get_full_name }}</p></div>

{% endif %}
<p><div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div></p>
<hr/>



<!-- Social Networks Sharing:-->

<!--
<p> <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">
Facebook</a>

<a href="https://twitter.com/home?status={{ instance.content|truncatechars:80|urlify }}
%20{{ request.build_absolute_uri }}">
Twitter</a>

<a href='https://plus.google.com/share?url={{ request.build_absolute_uri }}'>
Google Plus</a>
<a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}&title={{ instance.title }}&summary={{ instance.content|truncatechars:80|urlify }}&source={{ request.build_absolute_uri }}">
Linkedin</a>

<a href="http://www.reddit.com/submit?url={{ request.build_absolute_uri }}&title={{ instance.content|truncatechars:80|urlify }}">Reddit</a>
</p>
 -->
 <div class="row">
 <div class="col-sm-12">
 <div class="text">

{{ instance.content|safe }}<br/>


<hr/>
<br/>

<div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-numposts="5"></div>


</div>
</div>
</div>
</div>


{% endblock content %}
