{% extends "base.html" %}
{% load get_at_index %}

{% block head_title %}
{{ title }} | {{ block.super }}
{% endblock head_title %}
{% block content %}



<div class='col-sm-8 col-sm-offset-2'>
{% for obj in object_list %}
<div class="row">
  <div class="col-sm-12">

    <div class="thumbnail">
        {% if obj.image %}
         <img src='{{ obj.image.url }}' class='img-responsive' />
        {% endif %}
      <div class="caption">
        {% if obj.draft %}<h3>Staff only: Draft</h3>{% endif%} {% if obj.publish > today %}<h3>Staff only: Future Post</h3>{% endif %}
        <h1><a class="heading" href='{{ obj.get_absolute_url }}'>{{ obj.title }}</a></h1>
        <div class="publish_date"> {{ obj.publish }} </div>
        {% if obj.user.get_full_name %}<div class="author"><p>Author: {{ obj.user.get_full_name }}</p></div> {% endif %}
        <div class="text preview_content"><p>{{ obj.preview_content|safe|truncatechars:300 }}</p></div> </br>
        <p class="button_view"><a href="{{ obj.get_absolute_url }}" class="btn btn-primary btn-lg" role="button">View</a></p>

        {% if obj.tags.names %}
        <ul class="post-tags">
            {% for tag in obj.tags.names %}
                <li>
                <a class="tag-click" href="/tag/{{ obj.tags.slugs|get_at_index:forloop.counter0 }}">{{ tag }}</a>
                </li>
            {% endfor %}
        </ul>
        {% endif %}
        <br/>

      </div>
    </div>
  </div>
<hr/>
</div>
{% endfor %}


<center>

<nav aria-label="Page navigation">
{% if object_list.has_other_pages %}
    <ul class="pagination">
        {% if object_list.has_previous %}
            <li><a aria-label="Previous" href="?page={{ object_list.previous_page_number}}">&laquo;</a></li>
        {% else %}
            <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for pages in object_list.paginator.page_range %}
            {% if object_list.number == pages %}
                <li class="active"><span>{{ pages }}<span class="sr-only">(current)</span></span></li>
            {% elif pages > object_list.number|add:'-3' and pages < object_list.number|add:'3' %}
                <li><a href="?page={{pages}}">{{pages}}</a></li>
            {% endif %}
        {% endfor %}
        {% if object_list.has_next %}
                <li><a href="?page={{ object_list.next_page_number}}">&raquo;</a></li>
        {% else %}
                <li class="disabled"><span>&raquo;</span></li>
        {% endif %}

{% endif %}
</div>
</center>



{% endblock content %}
